.card-container {
  /* border: 1px solid black; */
  height: 22rem;
  border-radius: 0.5rem;
  margin-left: 1rem;
}

.top {
  width: 100%;
  max-width: 700px;
  /* background-color: blue; */
  overflow: hidden;
}
.top img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 0.75rem;
}
.bottom {
  padding-left: 1rem;
  display: flex;
  gap: 1rem;
}
.channel-img {
  margin-top: 0.75rem;
}
.channel-img img {
  border-radius: 50%;
}

.video-title {
  margin-top: 0.75rem;

  font-weight: bold;
  font-size: 15px;
  font-weight: 600;
  color: #0f0f0f;
  margin: 5px 0;
  line-height: 1.4;
  line-clamp: 2;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.video-channel {
  color: rgb(147, 144, 139);
}
.info {
  display: flex;
  gap: 1rem;
  color: rgb(147, 144, 139);
}

.smaller {
  display: flex;
  height: 6rem;
  border-radius: 0rem;
  border: 0px solid black;
}
.smaller .top {
  flex: 4;
  border-radius: 0.5rem;
  /* border: 1px solid black; */
}
.smaller .bottom {
  padding-left: 0.25rem;
  /* flex: 6; */
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.smaller .channel-img {
  display: none;
}
.smaller .bottom .video-title {
  width: 15rem;
  font-size: 0.92rem;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2; /* limit to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0rem;
}
.smaller .bottom .video-info {
  font-size: 0.75rem;
}
.smaller .top img {
  width: 100%;
  height: 100%;
}

.medium {
  /* height: 15rem; */
  padding: 0rem 0rem;
  height: auto;
  border: none;
  /* width: 17rem; */
}
.medium .bottom {
  padding-left: 0rem;
}
.medium .top {
  border-radius: 0.5rem;
}
