.card-container {
  /* border: 1px solid black; */
  /* height: 22rem; */
  border-radius: 0.5rem;
  margin-left: 1rem;
}

.top {
  /* width: 100%; */
  max-width: 700px;
  /* background-color: blue; */
  overflow: hidden;
}
.top img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 0.75rem;
}
.bottom {
  padding-left: 1rem;
  display: flex;
  gap: 1rem;
}
.channel-img {
  margin-top: 0.75rem;
}
.channel-img img {
  border-radius: 50%;
}

.video-title {
  margin-top: 0.75rem;

  font-weight: bold;
  font-size: 15px;
  font-weight: 600;
  color: #0f0f0f;
  margin: 5px 0;
  line-height: 1.4;
  line-clamp: 2;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.video-channel {
  color: rgb(147, 144, 139);
}
.info {
  display: flex;
  gap: 1rem;
  color: rgb(147, 144, 139);
}

.smaller {
  display: flex;
  height: 7rem;
  border-radius: 0rem;
  border: 0px solid black;
}
.smaller .top img {
  width: 12rem;
  border-radius: 0.5rem;
}
@media (max-width: 1200px) {
  .smaller .top {
    width: 8rem;
  }
  .smaller .top img {
    width: 100%;
  }
}
.smaller .bottom {
  padding-left: 0.25rem;
  flex: 6;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.smaller .channel-img {
  display: none;
}
.smaller .bottom .video-title {
  /* width: 15rem; */
  font-size: 0.92rem;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2; /* limit to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0rem;
}
@media (max-width: 1200px) {
  .smaller .bottom .video-title {
    font-size: 0.75rem;
  }
}
.smaller .bottom .video-info {
  font-size: 0.75rem;
}
.smaller .top img {
  /* width: 100%; */
  /* width: 10rem; */
  height: 100%;
}

.medium {
  /* height: 15rem; */
  padding: 0rem 0rem;
  height: auto;
  border: none;
  /* width: 17rem; */
}
.medium .bottom {
  padding-left: 0rem;
}
.medium .top {
  border-radius: 0.5rem;
}

.larger {
  display: flex;
  height: auto;
}
.larger .top {
  flex: 4.5;
}
.larger .top img {
  height: 100%;
}
.larger .bottom {
  flex: 6;
}
.larger-card {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.larger .video-title {
  font-size: 1.25rem;
  font-weight: 500;
}
@media (max-width: 700px) {
  .card-container {
    margin-left: 0;
    margin-inline: 1rem;
  }
}

@media (max-width: 354px) {
  .card-container .bottom {
    padding-left: 0.25rem;
  }
}

@media (max-width: 1130px) {
  .larger .video-title {
    font-size: 1rem;
  }
}

@media (max-width: 570px) {
  .larger-card .channel-img img {
    height: 20px;
    width: 20px;
  }
  .larger .video-info .video-title,
  .larger .video-info .info,
  .larger .larger-card .video-channel {
    font-size: 0.8rem;
  }
}
