.filter {
  background-color: white;
  color: wheat;
  height: 4rem;
  position: fixed;
  top: 3.25rem;
  display: flex;
  gap: 1.5rem;
  /* padding: 0.5rem; */
  margin-left: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;

  justify-content: flex-start;
}

@media (max-width: 570px) {
  .filter {
    margin-left: 1rem;
    margin-right: 1rem;
    overflow-x: scroll;
    top: 4rem;
  }
}
.filter button {
  border: none;
}
.filter-element {
  padding: 0rem 0.8rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
  /* font-size: 0.95rem; */
}

.filter-element:hover {
  cursor: pointer;
  /* background-color: #967d7d; */
  background-color: black;
  color: white;
}

.filter-element.active {
  background-color: black;
  color: white;
  font-weight: bold;
}
