.sidebar {
  position: fixed;
  width: 220px;

  top: 60px;
  left: 0;
  height: 100vh;
  background: #fff;
  border-right: 1px solid #ddd;
  padding: 10px 0;
  /* transition: all 0.3s ease; */
  overflow-y: scroll;
  z-index: 2000;
}

.mini-sidebar {
  width: 80px;
  overflow: hidden;
  position: fixed;

  top: 60px;
  left: 0;
  height: 100vh;
  background: #fff;
  border-right: 1px solid #ddd;
  padding: 10px 0;
  z-index: 2000;
}

.mini-sidebar li {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 10px;
  padding: 12px 20px;
  gap: 16px;
  cursor: pointer;
}
.mini-sidebar li:hover {
  background-color: #f1f1f1;
  border-radius: 0.75rem;
}
.mini-sidebar li span {
  font-size: 0.75rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  border-bottom: 1px solid rgba(6, 4, 4, 0.253);
}

.sidebar li {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  gap: 16px;
  cursor: pointer;
  /* transition: background 0.2s; */
}

.sidebar li:hover {
  background-color: #f1f1f1;
  border-radius: 0.75rem;
}

.category-heading {
  margin-top: 0.5rem;
  padding: 12px 20px;
  font-weight: bold;
}
.category-heading:hover {
  background-color: #f1f1f1;
  border-radius: 0.75rem;
}

.active-link li {
  background-color: #f1f1f1;
  border-radius: 0.75rem; /* optional */
}

@media (max-width: 978px) {
  .sidebar {
    background: rgba(29, 25, 25, 0.866);
    width: 100%;
    padding: 5px, 0;
  }
  .category-heading,
  .sidebar ul {
    background-color: white;
    width: 220px;
  }
  .category-heading {
    margin-top: 0;
  }
}

@media (max-width: 570px) {
  .mini-sidebar {
    display: none;
  }
}
