.card-container {
  border: 1px solid black;
  height: 22rem;
  border-radius: 0.5rem;
}

.top {
  width: 100%;
  max-width: 700px;
  background-color: blue;
  overflow: hidden;
}
.top img {
  width: 100%;
  height: auto;
  display: block;
}
.bottom {
  padding-left: 1rem;
  display: flex;
  gap: 2rem;
}
.video-title {
  font-weight: bold;
}
.video-channel {
  color: rgb(147, 144, 139);
}
.info {
  display: flex;
  gap: 1rem;
  color: rgb(147, 144, 139);
}

.smaller {
  display: flex;
  height: 6rem;
  border-radius: 0rem;
  border: 0px solid black;
}
.smaller .top {
  flex: 4;
  border-radius: 0.5rem;
  /* border: 1px solid black; */
}
.smaller .bottom {
  padding-left: 0.25rem;
  /* flex: 6; */
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.smaller .channel-img {
  display: none;
}
.smaller .bottom .video-title {
  font-size: 0.92rem;
}
.smaller .bottom .video-info {
  font-size: 0.75rem;
}
.smaller .top img {
  width: 100%;
  height: 100%;
}
