* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: #fff;
  color: #333;
  line-height: 1.6;
}
img {
  cursor: pointer;
}
.flex-div {
  display: flex;
  align-items: center;
}
.col-flex {
  display: flex;
  flex-direction: column;
}
